<div id="<%= dom_id list %>">

  <div class="card-product">
    <img src="https://www.listchallenges.com/f/lists/63879069-2c06-4430-9345-4325152efd73.jpg" />
    <div class="card-product-infos">
      <h2><%= list.name %></h2>
      <%= link_to "View", list_path(list) %>
    </div>
  </div>
</div>
